.container {
    padding-left: 0;
    padding-right: 0;
}

.main-flex-container {
    height: 100vh;
}

.navbar-brand {
    font-weight: 600;
    font-size: 16px;
}

.navbar {
    justify-content: space-evenly;
}

.navbar-nav {
    padding-top: 6px;
}

.nav-link:hover {
    background-color: rgb(255, 255, 255);
    outline: 1px solid grey;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

video {
    width: auto;
    height: auto;
    max-height: 400px;
    margin-bottom: 10px;
}

#main-form {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 15px;
}

.footer-bottom {
    font-size: 9px;
    align-self: center;
    margin-top: auto;
}

.primaryBtns {
    display: grid;
}

.primaryBtns > * {
    height: 3em;
    width: 10em;
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.submitBtn {
    visibility: visible;
    z-index: 2;
}

.generatingBtn {
    visibility: hidden;
}

.alerts {
    display: grid;
    margin-top: 10px;
}

.alerts-container {
    max-width: 85%;
}

.alerts .alert-success, .alerts .alert-danger {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    visibility: hidden;
}

.alert-message-slideIn {
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
}

.alert-message-slideOut {
    animation-name: slideOut;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}

@keyframes slideIn {
    0% {
        transform: skewX(0deg) translateX(-2000px);
    }

    100% {
        transform: skewX(21deg);
    }
}

@keyframes slideOut {
    0% {
        transform: skewX(0deg) translateX(-2000px);
    }

    100% {
        transform: skewX(21deg);
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 20px;
    }

}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 24px;
        margin-left: 1em;
    }

    .navbar-brand::after {
        content: "with RDKit";
        font-size: 12px;
        margin-left: 10px;
    }

    #main-nav {
        justify-content: center;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 2em;
    }

}

@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 32px;
    }

}

/* Download & Reset buttons */
.btn-success, .btn-warning {
    font-size:18px;
    color:white;
}

.btn-warning:hover {
    color:white;
}
