<!DOCTYPE html>
<html>
<head>
    <title>Free Ligand Conformer Generator</title>
    <meta charset="utf-8">
    <meta name="description" content="Small molecule (ligand) conformer generation with OpenBabel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="data:,">
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <header id="main-header">
                <h1>Ligand conformer generation</h1>
                <p style="margin-left:30px;">with RDKit & OpenBabel Confab</p><br>
                <div id="links">
                    <ul>
                        <li><a href="https://github.com/Et9797/rdkit-obabel-confgen"
                            target="_blank"><img src="../static/GitHub-Mark-32px.png"></a></li>
                        <li><button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseHow" aria-expanded="false" aria-controls="collapseHow">
                        How it works</button> </li>
                        <li><button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
                        Contact </button></li>
                        <div class="collapse" id="collapseHow">
                            <div class="card card-body text-justify" style="width:800px;height:220px;margin:auto;margin-top:10px;font-size:16px;">
                                <p style="padding-right:20px;">Ligand conformer generation is usually performed prior to (protein) ligand docking. 
                                    OpenBabel Confab [1] generates low energy ligand conformers. RDKit [2] uses the ETKDG method. May not work for either too large or too small molecules. 
                                    Three force field options are provided for Confab. </p>
                                    <p style="margin-top:10px;">[1]<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3073927/" target="_blank"> https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3073927/ </a></p>
                                    <p>[2]<a href="https://pubs.acs.org/doi/10.1021/acs.jcim.5b00654" target="_blank"> https://pubs.acs.org/doi/10.1021/acs.jcim.5b00654</a></p>
                                    <p style="color:red;padding-right:20px;margin-top:20px;"> Avoid ambiguities in the PDB file, primarily in the atom name column and also the last atom column.</p>
                            </div>
                        </div>
                        <div class="collapse" id="collapseContact">
                            <div class="card card-body" style="width:500px;height:300px;margin:auto;margin-top:10px;">
                                <label style="text-align:left;">Comment:</label>
                                <textarea style="margin-bottom:10px;height:400px;font-size:14px;"> </textarea>
                                <div><button class="btn btn-primary">Send</button> </div>
                            </div>
                        </div>
                    </ul><br>
                </div>
                <div id="video_confs" style="margin-top:-30px; margin-bottom:-60px;">
                    <video loop autoplay id="metho" width="540px" height="390px" style="margin-left:-10px;">
                        <source src="../static/metho.mp4" type="video/mp4">
                    </video>
                    <video loop autoplay id="confs" width="540px" height="400px" style="margin-left:-100px;">
                        <source src="../static/confs.mp4" type="video/mp4">
                    </video>
                </div>
                
                <!-- <img src="../static/testx.mpg" id="conformer_image" alt="conformers" style="width:50%;height:auto;"> -->
            </header>
            <form id="submission-form" method="post" enctype="multipart/form-data">
                {% block form %}
                <div id="options">
                    <ul class="nav nav-pills" style="margin-bottom:10px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Confab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('rdkit') }}">RDKit</a>
                        </li>
                    </ul>
                    <label style="text-align: right;">Upload your molecule (PDB format):</label>
                    <input type="file" id="pdb" name="pdb_molecule"><br>
                    <label style="text-align: right;">or, provide a canonical SMILES:</label>
                    <input type="text" id="smiles" name="smiles_molecule"><br>
                    <label style="text-align: right;">Number of conformers:</label>
                    <input type="number" id="confs" name="no_conformers" max=500 min=50 value=100 step=50><br>
                    <label style="text-align: right;">Force field:</label> 
                    <select class="custom-select" id="ff" name="force_field" style="font-weight:500;">
                        <option selected="MMFF94" value="mmff94">MMFF94</option>
                        <option value="gaff">AMBER</option>
                        <option value="uff">UFF</option>
                    </select>
                </div>
                <br>
                <div class="msg"></div>
                <input class="btn btn-primary" id="submit-button" type="submit" name="submit_btn" value="Generate">
                {% endblock %}
            </form>
            <div class="spinner-border text-primary" id="spinner" style="width:2.5rem;height:2.5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            {% block submitFinished %}
                {% if mol %}
                    <script type="text/javascript">
                        var submitBtn = document.querySelector("#submit-button");
                        submitBtn.remove();
                    </script>
                    <a href='{{ url_for("serve_pdbs", method=method, mol=mol) }}'>
                        <button type="button" class="btn btn-success">Download</button></a>
                    <a href="{{ url_for('reset', mol=mol) }}">
                        <button type="button" class="btn btn-warning">Reset</button></a>
                {% endif %}
            {% endblock %}
        </div>
        <footer id="main-footer">
            <p>Made with Flask & Bootstrap.</p>
        </footer>
    </div>

<!-- Bootstrap -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/main.js"></script>

</body>
</html>   