<!DOCTYPE html>
<html>
  <head>
    <title>Small molecule conformer generation</title>
    <meta charset="utf-8">
    <meta name="description" content="Small molecule ligand conformer generation with RDKit">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <!-- Modal How it works -->
    <div class="modal fade" id="howItWorksModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">How it works</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close-hiw"></button>
          </div>
          <div class="modal-body">
            <p>Small-molecule (ligand) conformer generation is usually performed prior to protein-ligand docking. 
            RDKit [1] uses the ETKDG method to generate a collection of diverse low energy conformers. Generation may 
            take a while depending on how many conformers are being generated. Specifically intended for small-molecules, 
            not proteins (look into molecular dynamics for that). Avoid ambiguities in the PDB file, primarily in the atom name 
            column and the last atom column. Uses Knodle [2] for assigning bond orders of ligands provided as PDB format. 
            Caution is required when providing ligands in PDB format, as Knodle can make errors and fail to assign correct bond orders. 
            It is advised to use SDF/Mol/Mol2 or preferably SMILES for more complex small molecules.
            <p style="margin-top: 10px;">[1] <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.5b00654" target="_blank"> https://pubs.acs.org/doi/10.1021/acs.jcim.5b00654</a></p>
            <p style="margin-top: 10px;">[2] <a href="https://team.inria.fr/nano-d/software/knodle/" target="_blank"> https://team.inria.fr/nano-d/software/knodle/</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Contact -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contact</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close-contact"></button>
          </div>
          <div class="modal-body">
            <form id="contact-form" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="emailAddr" class="col-form-label">Your E-mail:</label>
                <input type="text" class="form-control" name="email" id="emailAddr">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" name="message" id="message-text" rows="10"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="alert alert-success p-2 m-auto alertContact" role="alert" style="visibility: hidden;"> 
              <i class="fas fa-check"></i> E-mail received.
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary sendBtnContactForm" form="contact-form">Send</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Main content -->
    <div class="container">
      <div class="d-flex flex-column main-flex-container">
        <!-- Nav-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
          <a class="navbar-brand" href="/">Small Molecule Conformer Generation</a>
          <button class="navbar-toggler btn" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="main-nav">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#howItWorksModal" href="#howItWorksModal"><i class="fas fa-info-circle"></i> How it works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" href="#contactModal"><i class="fas fa-envelope"></i> Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/et9797/confgen-webapp" target="_blank"><i class="fab fa-github"> Github</i></a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Video -->
        <video muted loop autoplay id="conformersVideo">
          <source src="../static/conformers.mp4" type="video/mp4">
        </video>
        <!-- Form -->
        <form id="main-form" class="align-self-center" method="post" enctype="multipart/form-data" action="{{ url_for('form_handler') }}">
          <div class="form-group row">
            <label for="molInput" class="col col-form-label">Molecule file (pdb/sdf/mol/mol2) <b>/</b> Canonical SMILES:</label>
            <div class="col align-self-center">
              <input type="file" class="form-control" name="molFile" id="fileInput">
            </div>
            <div class="col-xl-1 h2 align-self-center text-center">/</div>
            <div class="col-xl-5 align-self-center">
              <input type="text" class="form-control" name="SMILES" id="smileInput" placeholder="SMILES">
            </div>
          </div>
          <div class="form-group row">
            <label for="noConformers" class="col-xl-3 col-form-label">Number of conformers: </label>
            <div class="col" style="max-width: 25%">
              <input type="number" class="form-control" name="noConfs" id="noConformers" max=500 min=25 value=100 step=25>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-xl-3 col-form-label">Output format:</legend>
              <div class="col-xl-9 pt-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="outputFormat" id="pdbRadio" value="pdb" checked>
                  <label class="form-check-label" for="pdbRadio">pdb</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="outputFormat" id="sdfRadio" value="sdf">
                  <label class="form-check-label" for="sdfRadio">sdf</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="outputFormat" id="molRadio" value="mol">
                  <label class="form-check-label" for="molRadio">mol</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-xl-3 col-form-label">Conformers in separate files? </div>
            <div class="col-xl-9 pt-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="separateFiles" id="separateFiles" checked>
              </div>
            </div>
          </div>
          <div class="primaryBtns">
            <button type="submit" class="btn btn-primary submitBtn" form="main-form">Submit</button>
            <button class="btn btn-primary generatingBtn" type="button" style="background-color: #0048b3;" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status"></span>
              Generating...
            </button>
            {% if job_id %}
            <script>
              const submitBtn = document.querySelector(".submitBtn")
              submitBtn.remove()
            </script>
            <div class="d-flex justify-content-center align-items-end download-reset-btns gap-2">
              <a href="{{ url_for('serve_files', job_id=job_id) }}" id="downloadBtn"><button class="btn btn-success" type="button">Download</button></a>
              <a href="{{ url_for('index') }}" id="resetBtn"><button class="btn btn-warning resetBtn" type="button" style="color: white;">Reset</button></a>
            </div>
            {% endif %}
          </div>
        </form>
        <div class="alerts-container align-self-center">
          <div class="alerts">
            <div class="alert alert-success p-2" role="alert"> 
            </div>
            <div class="alert alert-danger p-2" role="alert">
            </div>
          </div>
        </div>
        <!-- Footer -->
        <footer class="footer-bottom">
          Made with Flask & Bootstrap.
        </footer>
      </div>
    </div>
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>

  </body>

</html>   
